.navbar-brand{
    font-weight: normal;
    font-size: 25px;
}

.icono-idioma {
    background-size: 15px !important;
    width: 15px;
    height: 15px;
}

body {
    background-color: white;
}

div {
    box-shadow: none;
}

.navbar.logo {
    min-height: 7rem;
}

.navbar.logo .navbar-brand > img {
    max-height: 80px;
}

@media (max-width: 991px) {
    .app .container {
        padding-left: 35px;
        padding-right: 35px;
    }
}